<aside>
  <div class="side_box">
    <h3>特集<br>1日を彩る沖縄の食卓</h3>
    <ul>
      <li>
        <a href="/pages/lp_morning">朝 - 朝ごはん</a>
      </li>
      <li>
        <a href="/pages/lp_lunch">昼 - ランチ</a>
      </li>
      <li>
        <a href="/pages/lp_teatime">夕 - ティータイム</a>
      </li>
      <li>
        <a href="/pages/lp_dinner">晩 - 晩ご飯</a>
      </li>
      <li>
        <a href="/pages/lp_evening">夜 - 晩酌</a>
      </li>
      {% comment %} <li>COMING SOON...</li> {% endcomment %}
    </ul>
  </div>
  <div class="side_box">
    <h3>商品を選ぶ</h3>
    <div>
      <p>カテゴリ</p>
      <ul>
        {% for link in linklists.category-menu01.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <p>ギフト向け</p>
      <ul>
        {% for link in linklists.category-gift-menu.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <p>お取り寄せ</p>
      <ul>
        {% for link in linklists.category-stockorder-menu.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="side_box">
    <h3>読みもの</h3>
    <ul>
      {% assign blog = blogs['column'] %}
      {% for tag in blog.all_tags %}
        <li>
          <a href="{{ shop.url }}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="side_box under_menu">
    <ul>
      <li><a href="/pages/faq">よくあるご質問</a></li>
      <li><a href="/blogs/news">お知らせ</a></li>
      <li><a href="/pages/guide">ご利用ガイド</a></li>
      <li><a href="/pages/policy">プライバシーポリシー</a></li>
      <li><a href="/pages/company">会社情報</a></li>
      <li><a href="/pages/contact-form">お問い合わせ</a></li>
    </ul>
  </div>
</aside>