<div id="contents" class="p-under_wrap kazari08">
  <div class="inner flex">

    <!-- サイドバー -->
    {% render 'side-menu' %}

    <!-- メインコンテンツ -->
    <div class="main-contents_wrap">
      <section class="p-news_wrap">
        <!-- パンくずリスト -->
        <div class="breadcrumb">
          <nav>
            <ol>
              <li>
                <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0775/7886/2887/files/icon-home.svg" alt=""></a>
              </li>
              <li>
                <a href="/blogs/news">お知らせ</a>
              </li>
              <li>{{ article.title }}</li>
            </ol>
          </nav>
        </div>

        <div class="news-ttl">
          <p class="time">{{ article.created_at | date: '%Y.%m.%d' }}</p>
          <h3>{{ article.title }}</h3>
        </div>

        <div class="news-detail_area">
          {{ article.content }}
        </div>
        <!-- /.news-detail_area -->

        <div class="link_area">
          <a href="/blogs/news">
            <p>お知らせ一覧へ</p>
            <div class="link_arrow"></div>
          </a>
        </div>

      </section>

    </div>
    <!-- /.maain-contents_wrap-->
  </div>
  <!-- /.inner-->

</div>
<!-- /#contents-->


{% schema %}
  {
    "name": "news-detail",
    "presets": [
      {
        "name": "news-detail"
      }
    ]
  }
{% endschema %}